# deps
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
next-env.d.ts
*.tsbuildinfo

# electron
release/
dist/

# env
.env
.env.local
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
*.log

# generated supabase types
src/types/supabase.generated.ts
